<div class="form-wrapper">
	<form id="form" [formGroup]="form">
		<p>ТЕКСТ ЗАДАЧИ:</p>
		<mat-form-field class="form-input-wrapper">
			<mat-label>Текст</mat-label>
			<input type="text" formControlName="title" matInput>
		</mat-form-field>

		<p>АВТОР ЗАДАЧИ</p>
		<mat-form-field class="form-input-wrapper">
			<mat-label>Напишите число</mat-label>
			<input type="text" formControlName="userId" matInput>
		</mat-form-field>

		<p>ЗАДАЧА ЗАВЕРШЕНА:</p>
		<mat-form-field class="form-input-wrapper">
			<mat-label>Да или Нет</mat-label>
			<input type="text" formControlName="completed" matInput [errorStateMatcher]="matcher">
			<mat-error
				*ngIf="form.controls['completed'].hasError('invalidCompleted') && !form.controls['completed'].hasError('required')">
				Введите только - Да или Нет
			</mat-error>
			<mat-error *ngIf="form.controls['completed'].hasError('required')">
				Поле не заполнено
			</mat-error>
		</mat-form-field>

		<button mat-raised-button type="submit" [disabled]="form.invalid" (click)="submitForm()">
			<mat-icon>add</mat-icon>
			Create
		</button>
	</form>
</div>