<div class="form-wrapper">
	<form id="form" [formGroup]="form" (ngSubmit)="submitForm()">
		<p>Name:</p>
		<input type="text" formControlName="name">
		<div class="form-alert-error"
		*ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
		>
			Имя введено неправильно
		</div>

		<p>Email:</p>
		<input type="text" formControlName="email">
		<div class="form-alert-error"
		*ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
		>
			Email введен неправильно
		</div>

		<p>Website:</p>
		<input type="text" formControlName="website">
		<div class="form-alert-error"
		*ngIf="form.controls['website'].invalid && (form.controls['website'].dirty || form.controls['website'].touched)"
		>
		website введен неправильно
		</div>

		<p>Company name:</p>
		<input type="text" formControlName="companyName">
		<div class="form-alert-error"
		*ngIf="form.controls['companyName'].invalid && (form.controls['companyName'].dirty || form.controls['companyName'].touched)"
		>
		company name введен неправильно
		</div>

		<button class="form-btn" [disabled]="form.invalid">Create User</button>
	</form>
</div>