h1 {
	text-align: center;
	font-size: 24px;
	margin-top: 50px;
}

.users-cards {
	width: 300px;
	box-shadow: 3px 3px 10px rgba(187, 187, 187, 0.6);
	padding: 15px;

	app-user-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 20px;
	}
}
