<div class="header">
  <div class="container">
    <div class="header__wrapper">
      <ul class="header__left">
        <li class="header-logo"><img src="../assets/Frame.svg" alt="logo"></li>
        <li class="header__left-item" *ngFor="let item of headerItems"
            routerLink="/">{{ item }}
        </li>
        <li class="header__left-item" *ngIf="isAboutUs">О нас</li>
        <li class="button" (click)="isAboutUs = !isAboutUs">Скрыть - О нас</li>
      </ul>
      <div class="header__btn-wrapper">
        <button class="button" routerLink="/users">User</button>
        <button class="button" routerLink="/todos">Todos</button>
      </div>
      <ul class="header__right">
        <li
          class="header__right-item header__right-date">{{ today | date:'medium' }}
        </li>
        <li class="header__right-item">About</li>
        <button class="header__right-btn">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </ul>
    </div>
  </div>
</div>

<div class="yellow-nav" background-color-change="red">
  <div class="container">
    <nav class="navigation">
      <div class="navigation__left">
        <button class="navigation__menu-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="navigation__right">
        <div class="navigation__right-input">
          <input type="text" placeholder="Поиск, например Круг зачистной">
        </div>
        <div class="navigation__right-location">Москва</div>
      </div>
    </nav>
  </div>
</div>
<div class="admin-user-role__wrapper">
  <button class="admin-user-role__btn" (click)="openDialog()">
    {{ (userRole$ | async) ? 'Войти' : 'Выйти' }}
  </button>
   <button *ngIf="isShowAdminBtn" class="admin-user-role__btn" routerLink="/admin">Админка</button>
	
</div>


<router-outlet></router-outlet>
