

<div class="header">
	<div class="container">
		<div class="header__wrapper">
			<ul class="header__left">
				<li class="header-logo"><img src="../assets/Frame.svg" alt="logo"></li>
				<li class="header__left-item" *ngFor="let item of headerItems" routerLink="/">{{item}}</li>
				<li class="header__left-item" *ngIf="isAboutUs">О нас</li>
				<li class="button" (click)="isAboutUs = !isAboutUs">Скрыть - О нас</li>
			</ul>
			<button class="button" routerLink="/users">Admin</button>
			<ul class="header__right">
				<li class="header__right-item">About</li>
				<button class="header__right-btn">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</ul>
		</div>
	</div>
</div>

<router-outlet></router-outlet>

	
